:root {
    --num-tabs: 0; /* Lo modificaremos con JS */
}
header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.bg-donas{
    background-color: #cf1d75;
}

.tabs {
    position: relative;
    width: 640px; 
    margin: auto;
}

.tabs-list {
    display: inline-block;
    width: 640px;
    padding: 0;
    
    
}

.tab-item {
    align-items: center;
    font-size: 16pt;
    color: #cf1d75;
    cursor: pointer;
    display: flex;
    float: left;
    height: 60px;
    justify-content: center;
    transition: background-color 0.2s ease;
    width: calc(100% / var(--num-tabs));
}

.tab-item:hover {
    background-color: #ee6e7333;
}

.highlighter {
    background-color: #cf1d75;
    bottom: 0;
    height: 4px;
    position: absolute;
    transition: transform 0.2s ease-out;
    width: calc(100% / var(--num-tabs));
}
footer{
   min-height: 10vh;
   padding: 10px;
    
}
.btn-dona{
    background-color: #eda841;
}